body {
    font-family: 'Times New Roman', Times, serif;
    padding:50px;
    text-align:center;
    background-color: aquamarine;
    font-size: x-large;
    
}
  #weekly-overview {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  .day-column {
    border: 1px solid #ccc;
    padding: 10px;
  }
  .activity {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  