body {
    font-family: 'Times New Roman', Times, serif;
    padding:50px;
    text-align:center;
    background-color: aquamarine;
    font-size: x-large;
    
}
  #weekly-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px;
    margin-top: 20px;
    text-align: left;;
  }
  .day {
  border-radius: 8px;
  padding: 10px;
  min-height: 100px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  .day h2 {
      font-size: 16px;
      margin: 0 0 10px;
      
  .activity {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  